<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/CSS/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="https://www.visualcv.com/ldtsxz8s0qy/pdf">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<a href="https://github.com/rohit114"><img src="images/github.svg" alt="github logo"   height="30" width="30"> </a> &nbsp
		        	<a href="mailto:rohitkumardas114@gmail.com"><img src="images/email.png" alt="email logo"    height="30" width="30"> </a> &nbsp
	        		<a href="https://www.linkedin.com/in/rohit-kumar-das/"><img src="images/linkedin.png" alt="linkedin logo" height="30" width="30"> </a> &nbsp
	        		<a href="https://www.facebook.com/HAPPYROHIT114"><img src="images/facebook.png" alt="fb logo " height="30" width="30"> </a>
	    		</ul>
			</nav>
			<ul>
				
			</ul>	
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				
			</ul>	
			</footer>
		</body>
	</html>
